body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: auto;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 5px 0;
    text-align: center;
}


main {
    padding: 10rem 1rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.WrapperMenu {
    min-height: 350px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 30px 20px;
    margin:0 0 30px 0;
    border-radius: 5px;
    background-color: #e4e4e4;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    
    &:last-of-type{
        max-width: 800px;
    }

    &:not(:has(*)) {
        display: none;
    }
   
    > .carList{ 
        padding:0;        
        margin: auto;
        justify-content:space-around;
        max-width:800px;

        
        > li{
            
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items:center;
            justify-content:center;
            margin:40px 0;
            padding:20px;
            min-height: 130px;
            border-radius:4px;
            background-color: white;
            box-shadow:0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);

            > .infoWrapper{
            
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items:center;
                justify-content:center;
                
                > p{
                    margin-left:20px;

                }
            }
            >img{
                max-width: 600px;
                height: auto;

            }
        }

    }
}

.MenuCard{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px;
    width: 250px;
    padding: 20px;
    height: 250px;
    border-radius: 5px;
    background-color: #FFF;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);

    &:hover {
        background-color: #ffffff75;
    }

    >.MenuCard_item-title {
        display: block;
        font-size: 1.5em;
        margin: 10px 0;
    }

    >.MenuCard_image {
        object-fit: contain;
        max-width: 200px;
        
    }

    > h3 {
        color: rgb(112, 112, 252);
    }
}

.WrapperMenu_header {
  margin: 0 0 50px 0  ;
}



.InputWrapper {
    display: flex;
    
    flex-direction: column;
    margin-bottom: 2rem;
    >label {
        margin-bottom: 10px;
        font-size: 24px;
    } 
    > input {
        padding: 5px;
        border-radius: 5px;
        border: 1px solid grey;
    }
}

.ButtonWrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap:45px;
}



.CustomButton {
    width: 100px;
    padding: 10px;
    color: white;
    background-color: #3498db;
    border: 1px solid #3498db;
    border-radius: 3px;
    transition: filter 0.3s; /* Smooth transition */
}

.CustomButton:hover {
    background-color: rgb(25, 86, 126);
    border-color:rgb(25, 86, 126);
}



footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    margin-top: 50px;
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
